@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using MVCTutorial;
@inject IIpReflection ipinfo
@{
    
}
<h1>@ipinfo.GetIp()</h1>
